/* Estilo para la barra del mes */
.calendar-grid {
    -fx-background-color: #43C079;
    -fx-padding:10;
    -fx-vgap:5;
    -fx-background-radius:10;
    -fx-text-fill:#18244A;
}

/* Estilo para el texto del mes */
.calendar-grid > -date-cell {
    -fx-background-color:transparent;
    -fx-padding:0;
    -fx-aligment: BASELINE_CENTER;
    -fx-opacity:1.0;
    -fx-text-fill:#41BA75;
    -fx-cell-size:40;
    -fx-font-size:33;
}

.calendar-grid > .day-cell{
    -fx-background-color:#EEEEEE;
}

.calendar-grid > .today{
-fx-background-color:#D4F3E2;
-fx-text-fill:#3D9F67;

}

.calendar-grid > .selected{
 -fx-background-color:#3D9F67;
 -fx-text-fill:#EEEEEE;
}
