.table-view {
    -fx-base: #025E2E; /* Color base para el degradado de la tabla */
}

.table-view .column-header-background {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%,  #43C07A, #025E2E); /* Degradado para los encabezados de las columnas */
    -fx-text-fill:#EEEEE;
}

.table-row-cell {
    -fx-text-fill: white; /* Color del texto de las filas */
}

.table-row-cell:selected {
    -fx-background-color: #034A63; /* Azul oscuro para la fila seleccionada */
    -fx-text-fill: white; /* Mantener el texto blanco cuando se selecciona */
}

.table-cell {
    -fx-text-fill: white; /* Color del texto de las celdas */
}
.column-text-color{
    -fx-text-fill:#EEEEE;
}

.text{
    -fx-font-family: 'Roboto Condensed', sans-serif; /* Asegúrate de que la fuente esté instalada o cargada en tu proyecto */
     -fx-font-weight: bold; /* Roboto Condensed Bold */
     -fx-font-style: italic; /* Itálico */
     -fx-font-size: 14px; /* Tamaño de fuente 24 */
     -fx-text-fill: #EEEEE;
}

.button-color {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #F34242, #703D3D);
    -fx-text-fill: white; /* Color del texto */
    -fx-background-radius: 10; /* Radio de borde para bordes redondeados, ajusta según sea necesario */
    -fx-padding: 5 10; /* Relleno del botón, ajusta según sea necesario */
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.2), 5, 0.0, 2, 2); /* Sombra suave para dar profundidad */
}

.button-color:hover {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #BB0505, #3E1111);
}

.button-color:pressed {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #BB0505, #3E1111);
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.6), 4, 0.0, 0, 1); /* Sombra más intensa para el efecto de presionado */
}