.anchor-pane-style {
    -fx-background-color: linear-gradient(to bottom, #18244A 0%, #1A717D 100%);
    -fx-background-radius: 20;
}

.label-proyectName{
 -fx-font-family: 'Roboto Condensed', sans-serif; /* Asegúrate de que la fuente esté instalada o cargada en tu proyecto */
     -fx-font-weight: bold; /* Roboto Condensed Bold */
     -fx-font-style: italic; /* Itálico */
     -fx-font-size: 30px; /* Tamaño de fuente 24 */
     -fx-text-fill: #FFFFFF;
}
.label-tareaName{
 -fx-font-family: 'Roboto Condensed', sans-serif; /* Asegúrate de que la fuente esté instalada o cargada en tu proyecto */
     -fx-font-weight: bold; /* Roboto Condensed Bold */
     -fx-font-style: italic; /* Itálico */
     -fx-font-size: 20px; /* Tamaño de fuente 24 */
     -fx-text-fill: #FFFFFF;
}

.anchor-pane {
    -fx-background-color: linear-gradient(to right, #FFFFFF, #43C07A);
}
.anchor-pane-contacto {
    -fx-background-color: linear-gradient(to right, #FFFFFF, #1A717D);
}